<%- include('./partials/header.ejs'); %>
    <%- include('./partials/navbar.ejs'); %>    
    <div class="container">
      <br>
      <a href="/" class="btn btn-success">VOLTAR</a>
      <div class="card" id="formulario-pergunta">
        <div class="card-header">
            <h3>Realizar Pergunta</h3>
        </div>
        <div class="card-body">
            <form method="POST" action="/salvarPergunta">
                <labe>Título</labe>
                <input type="text" placeholder="Título" class="form-control" name="titulo">

                <br><labe>Descrição</labe>
                <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="descricao"></textarea>
                <br>

                <button class="btn btn-success">PERGUNTAR</button>
            </form>
        </div>
      </div>

    </div>

<%- include('./partials/header.ejs'); %>    